
/* 	
=============================================================================
 PRIMARY STYLES
=============================================================================
*/

/* Base
========================================================================== */
@-ms-viewport{ width: device-width; }
html {
    font-size: 16px;
    background-color: antiquewhite;
    background-image: url(wierw.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: bottom 70% left 150%;
}

header {
  margin: 0px;
  background-color: antiquewhite;
}

body {
  margin: 0px;
}

/* layout & typeography
========================================================================== */
.title {
    display: block;
    background-color: antiquewhite;
    font-size: 300%;
    color: rgb(105, 4, 4);
    padding: 20px 50px 30px 50px;
    margin: 0px;
}

.nav-container {
    display: flex;
    justify-content: space-evenly;
    background-color: antiquewhite;
    border-style: outset;
    border-color: rgb(253, 153, 153);

}

.main-house {
    text-decoration: none;
    color: red;

}

.main-house .wip {
  color: antiquewhite;
}

/* leaves effect
====================================================================*/
.L1, .L3, .L4 {
width: 30px;
}

.L2, .L5 {
width: 20px;
}

section{
    position:relative ;
    width:100%;
    height:100vh;
    overflow:hidden ;
    display:flex;
    justify-content:center;
    align-items:center;
  }

  section .set{
    position:absolute ;
    width:100%;
    height:100%;
    top:0;
    left:0;
    pointer-events:none;
  }
  section .set div{
    position:absolute ;
    display:block ;
  }
  section .set div:nth-child(1){
    left:25%;
    animation:animate 15s linear infinite ;
    animation-delay:-8s;
  }
  section .set div:nth-child(2){
    left:50%;
    animation:animate 20s linear infinite ;
    animation-delay:-5s;
  }
  section .set div:nth-child(3){
    left:70%;
    animation:animate 20s linear infinite ;
    animation-delay:0s;
  }
  section .set div:nth-child(4){
    left:60%;
    animation:animate 15s linear infinite ;
    animation-delay:-5s;
  }
  section .set div:nth-child(5){
    left:85%;
    animation:animate 18s linear infinite ;
    animation-delay:-10s;
  }
  section .set div:nth-child(6){
    left:20%;
    animation:animate 15s linear infinite ;
    animation-delay:-7s;
  }
  section .set div:nth-child(7){
    left:0%;
    animation:animate 12s linear infinite ;
    
  }
  section .set div:nth-child(8){
    left:60%;
    animation:animate 15s linear infinite ;
  }

  .set2{
    transform:scale(2) rotateY(180deg);
    filter:blur(2px);
  }
  .set3{
    transform:scale(0.8) rotateX(180deg);
    filter:blur(4px);
  }

@keyframes animate{
  0%{
    opacity:0;
    top: -10%;
    transform:translateX(20px) rotate(0deg);
  }
  10%{
    opacity:1;
  }
  20%{
    transform:translateX(-20px) rotate(45deg);
  }
  40%{
    transform:translateX(-20px) rotate(90deg);
  }
  60%{
    transform:translateX(20px) rotate(180deg);
  }
  80%{
    transform:translateX(-20px) rotate(180deg);
  }
  100%{
    top: 110%;
    transform:translateX(-20px) rotate(225deg);
  }
}
