/* 	
=============================================================================
 PRIMARY STYLES
=============================================================================
*/

/* Base
========================================================================== */
@-ms-viewport{ width: device-width; }

html {
    font-size: 16px;
}

body {
    background-color: antiquewhite;
}

/* title and navigation
========================================================================== */
.title {
    display: block;
    background-color: antiquewhite;
    font-size: 300%;
    text-decoration: none;
    color: rgb(105, 4, 4);
    padding: 20px 50px 10px 50px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.returnHome {
    text-decoration: none;
}

.nav-container {
    display: flex;
    justify-content: space-evenly;
    background-color: antiquewhite;
    border-style: outset;
    border-color: rgb(253, 153, 153);

}

.main-house {
    text-decoration: none;
    color: red;

}

/* lineage tree
==========================================================================*/
.generation {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.family-member, .family-member:active, .family-member:visited {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    flex-wrap: wrap;
    position: relative;
    background-color: white;
    border-style: solid;
    border-color: red;
    border-radius: 10px;
    /*width: fit-content;*/
    max-width: 220px;
    height: fit-content;
    padding: 2%;
    margin: 4%;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));

}

.Robb, .Sansa, .Arya, .Bran, .Rickon {
    margin: 2%;
}

.thumbnail {
    max-width: 110px;
    border-radius: 10px;
}

.CharInfo {
    padding: 2%;
}

/* family member info expansion
=============================================================================*/

.family-member:hover, .family-member:focus {
    box-shadow: 0px 0px 10px 10px rgba(245, 79, 79, 0.5);
}

.close-prompt {
    text-align: right;
    text-decoration: underline;
}




/*individual Stark family member defaults*/
.Ned-closed  .NedInfo {display: none;}
.Catelyn-closed  .CatelynInfo {display: none;}
.Robb-closed  .RobbInfo {display: none;}
.Sansa-closed .SansaInfo {display: none;}
.Arya-closed  .AryaInfo {display:none;}
.Bran-closed  .BranInfo {display: none;}
.Rickon-closed  .RickonInfo {display: none;}

/*individual Lannister family member defaults*/
.Joanna-closed  .JoannaInfo {display: none;}
.Tywin-closed  .TywinInfo {display: none;}
.Jamie-closed  .JamieInfo {display: none;}
.Cersei-closed  .CerseiInfo {display: none;}
.Tyrion-closed  .TyrionInfo {display: none;}

/*individual Baratheon family member defaults*/
.Robert-closed  .RobertInfo {display: none;}
.Joffery-closed  .JofferyInfo {display: none;}
.Myrcella-closed  .MyrcellaInfo {display: none;}
.Tommen-closed  .TommenInfo {display: none;}

/*individual Martel family member defaults*/


/*individual Targareyn family member defaults*/